{% extends 'member/core/home.html' %}
{% load settings_value %}
{% load static  %}

{% block top_nav %}
	<nav class='row' id='home-nav'>
		<div class="nav-wrapper" id=''>
			<a href='#' data-activates="mobile" class="button-collapse"><img class='menu-img' src="{% static 'img/hamburger.png' %}"/></a>
			<ul class="right hide-on-small-only">
{% endblock %}

{% block lower_nav %}
  <div id='jumbotron'>
    <img id='jumbo-img' src="{% static 'img/jumbo.png' %}"/>
    <div id='logo'>
      <a href="#"><img class='logo-img' src='{% static "img/logo.png" %}'/></a>
    </div>
  </div>
{% endblock %}
